---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Home/Header.astro';
import Content from '../components/Home/Content.astro';
---

<Layout title="CodeTech Blog">
  <main class="bg-slate-900 w-full min-h-screen flex flex-col items-center">
    <Header />
    <Content />
  </main>
</Layout>
