---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Content from '../components/Home/Content.astro';
---

<Layout title="CodeTech Blog">
  <main class="w-full min-h-screen flex flex-col items-center">
    <Header />
    { import.meta.env.VERCEL_URL }
    <Content />
  </main>
</Layout>
