---
import Content from "../../components/Post/Content.astro";
import Header from "../../layouts/Header.astro";
import Layout from "../../layouts/Layout.astro";
import type { PostType } from "../../ts/types";

const { id } = Astro.params;

const url = "/api/getPost?id="
const response = await fetch(
  import.meta.env.DEV
  ? "http://localhost:4321" + url + id
  : import.meta.env.VERCEL_URL + url + id
)
const post: PostType = await response.json();
  
const { id: _, ...contents } = post;
---

<Layout title={post.title}>
  <main class="w-full min-h-screen flex flex-col items-center">
    <Header />
    <Content {...contents} />
  </main>
</Layout>
