---
import Card from "./Card.astro";
import type { PostType } from "../../ts/types.ts";


const url = "/api/getPosts"
const response = await fetch(
  import.meta.env.DEV
    ? "http://localhost:4321" + url
    : import.meta.env.VERCEL_URL + url
)
const cards: PostType[] = await response.json()
---

<div class="border-x-2 border-slate-500 max-w-[800px] w-full h-4 flex-1 my-4 px-2 flex flex-col gap-2">
  {
    import.meta.env.VERCEL_URL
  }
  {
    cards.map((card) =>
      <Card {...card}/>
    )
  }
</div>